@use "config";

.pomment-button {
    appearance: none;
    border: 0;
    line-height: 35px;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    @each $type in config.$types {
        &--#{$type} {
            background-color: var(--color-#{$type});
            color: rgba(config.$color-white, 1);
            &:hover {
                background-color: var(--color-#{$type}-hover);
            }
            &:focus, &:focus-visible, &:active {
                background-color: var(--color-#{$type}-press);
            }
            &[disabled] {
                background-color: var(--color-#{$type}-disabled);
                cursor: not-allowed;
                color: rgba(config.$color-white, 0.5);
                &:hover, &:focus, &:focus-visible, &:active {
                    background-color: var(--color-#{$type}-disabled);
                }
            }
        }
    }
}
