.pomment-comment-wrapper {
    &:last-child {
        margin-bottom: -25px;
    }
    &__parent {
        margin-bottom: 25px;
    }
    &__child {
        padding-left: 35px;
        > * {
            margin-bottom: 25px;
        }
    }
}
