.pomment-form-item {
    > * {
        display: block;
    }

    &__label {
        padding: 10px 0;
    }

    &__required-mark {
        color: var(--color-danger-link);
        margin-right: 4px;
    }
}
